In [1]:
import pandas as pd

In [3]:
training_data = pd.read_csv('./data/train.csv')

In [ ]:
#peeking into the training data and also checking proper load of data into data frame

In [4]:
print training_data.head(5)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
#getting stats about the data set

In [5]:
print training_data.describe()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000         NaN    0.000000
50%     446.000000    0.000000    3.000000         NaN    0.000000
75%     668.500000    1.000000    3.000000         NaN    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

/home/mpc/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [ ]:
#Age has some missing values since count is less than others as seen above in the output of describe

In [ ]:
#Filling NA Age with median values

In [6]:
training_data['Age'] = training_data['Age'].fillna(training_data['Age'].median())

In [ ]:
#checking if the fill happened properly

In [7]:
print training_data.describe()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [ ]:
#pd.loc is a good function to index into the data frame. Here is one example..

In [12]:
training_data.loc[2:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100,C123,S

In [13]:
#another way to index...

In [15]:
training_data.loc[training_data["Pclass"]==3,"Age"]

0      22.0
2      26.0
4      35.0
5      28.0
7       2.0
8      27.0
10      4.0
12     20.0
13     39.0
14     14.0
16      2.0
18     31.0
19     28.0
22     15.0
24      8.0
25     38.0
26     28.0
28     28.0
29     28.0
32     28.0
36     28.0
37     21.0
38     18.0
39     14.0
40     40.0
42     28.0
44     19.0
45     28.0
46     28.0
47     28.0
       ...
837    28.0
838    32.0
840    20.0
843    34.5
844    17.0
845    42.0
846    28.0
847    35.0
850     4.0
851    74.0
852     9.0
855    18.0
858    24.0
859    28.0
860    41.0
863    28.0
868    28.0
869     4.0
870    26.0
873    47.0
875    15.0
876    20.0
877    19.0
878    28.0
881    33.0
882    22.0
884    25.0
885    39.0
888    28.0
890    32.0
Name: Age, dtype: float64

In [16]:
#Now using the same function to replace male with 0 and female with 1

In [17]:
training_data.loc[training_data["Sex"]=="male","Sex"] = 0

In [18]:
training_data.loc[training_data["Sex"]=="female","Sex"] = 1

In [ ]:
#finding out how many people boarded at each port

In [20]:
training_data.groupby("Embarked").count()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin
Embarked,,,,,,,,,,,
C,168,168,168,168,168,168,168,168,168,168,69
Q,77,77,77,77,77,77,77,77,77,77,4
S,644,644,644,644,644,644,644,644,644,644,129

In [ ]:
#Now filling NA for Embarked with "S", which is the port where most people boarded

In [21]:
training_data["Embarked"] = training_data["Embarked"].fillna("S")

In [22]:
training_data.groupby("Embarked").count()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin
Embarked,,,,,,,,,,,
C,168,168,168,168,168,168,168,168,168,168,69
Q,77,77,77,77,77,77,77,77,77,77,4
S,646,646,646,646,646,646,646,646,646,646,131

In [23]:
#Replace Embarked Letter with numbers..S = 0, C = 1, Q = 2

In [24]:
training_data.loc[training_data["Embarked"]=="S","Embarked"] = 0

In [25]:
training_data.loc[training_data["Embarked"]=="C","Embarked"] = 1

In [26]:
training_data.loc[training_data["Embarked"]=="Q","Embarked"] = 2

In [ ]:
#Checking if the replacement is done properly

In [27]:
training_data["Embarked"].loc[0:5]

0    0
1    1
2    0
3    0
4    0
5    2
Name: Embarked, dtype: object

In [28]:
training_data[0:3
             ]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0

In [1]:
#Intending to train the model using Linear Regression

from sklearn.linear_model import LinearRegression

#get a helper from scikit-learn that helps split the training set into training and validation sets(folds)

from sklearn.cross_validation import KFold

#the columns we decided we will use to predict the survival of a passenger

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

alg = LinearRegression()

# Generate cross validation folds for the titanic dataset.  
#It return the row indices corresponding to train and test.

# We set random_state to ensure we get the same splits every time we run this.

#The shape function is used to get a tuple representing the dimensions of the panda data frame...

training_data.shape

#divide the training set into k partitions, train on k-1 partitions, validate on the kth partition
#do this for all combination of training and validation sets possible for partiition of k
#in this example, k = 3

kf = KFold(training_data.shape[0],n_folds=3,random_state=1)

predictions = []

for train, test in kf:
        training_examples_X = training_data[predictors].iloc[train,:]
        training_examples_y = training_data["Survived"].iloc[train,:]
        alg.fit(X,y)
        
        #now using the trained model to make predictions on the test set
        predictions_on_test_set = alg.predict(training_data[predictors].iloc[test,:])
        predictions.append(predictions_on_test_set)

NameError: name 'training_data' is not defined